:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --brand-primary-color: #ee4d2d;
    --brand-primary-light-color: rgba(255,87,34,0.1);

    --header-height: 120px;
    --navbar-height: 26.8px;
    --header-with-search: calc(var(--header-height) - var(--navbar-height))
}

* {
    box-sizing: inherit;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%; 
    line-height: 1.6rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}